{% include 'base.html' %}
{% load static %}
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Employee Detail</a>
          </li>
        </ul>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'policy' %}">Add policy</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="form-group mt-3">
        <label class="form-label" id="full_name_label" for="full_name"
          >Full name:</label
        >
        <input
          type="text"
          id="full_name"
          class="form-control"
          name="full_name"
          required
        />
      </div>
      <div class="form-group mt-3">
        <label class="form-label" for="age">Age:</label>
        <input
          required
          type="number"
          id="age"
          class="form-control"
          name="age"
        />
      </div>

      <div class="form-group mt-3">
        <label class="form-label" for="department">Department:</label>
        <input
          required
          type="text"
          id="department"
          class="form-control"
          name="department"
        />
      </div>

      <div class="form-group mt-3">
        <label class="form-label" for="designation">Designation:</label>
        <select name="designation">
          <option value="Developer">Developer</option>
          <option value="Junior Developer">Junior Developer</option>
          <option value="Team Lead">Team Lead</option>
          <option value="Manager">Manager</option>
        </select>
      </div>

      <div class="form-group mt-3">
        <label class="form-label" for="salary">Salary:</label>
        <input
          required
          type="number"
          id="salary"
          class="form-control"
          name="salary"
        />
      </div>

      <button
        type="submit"
        id="form_submit"
        onclick="formsubmit();"
        class="btn btn-primary mt-3"
      >
        Submit
      </button>
      <div class="hidden_class" hidden>
        <h1>Needs to add mandatory fields</h1>
      </div>
    </div>
  </body>
</html>

<script>
  $("#full_name").hover(function () {
    $("#full_name_label").css("color", "red");
  });
  $("#full_name").mouseout(function () {
    $("#full_name_label").css("color", "black");
  });

  function formsubmit() {
    test1 = $("#full_name").val();
    //alert(test1.length);
    if (test1.length === 0) {
      $(".hidden_class").attr("hidden", false);
    }
  }
</script>
